@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Neue\ Helvetica\ Condensed\ BQ\ Regular.otf);
}

.ff_Helvetica {
    font-family: 'Helvetica';
}


:root {
    /* Font size */
    --fs-15: 15px;
    --fs-17: 17px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-35: 35px;
    --fs-56: 56px;
    --fs-100: 100px;
    --fs-110: 110px;
    --fs-120: 120px;
    --fs-130: 130px;
    --fs-200: 200px;
    --fs-247: 247px;



    /* COLORS */
    --clr-white: #ffffff;
    --clr-darkblack: #161616;
    --clr-lightblack: #1A191A;
    --clr-dark_gray: #373737;
    --clr-green: #0D7B61;
    --clr-brown_red: #872323;
    --clr-blue: #0A3F8F;
    --clr-gray: #BDBDBD;
    --clr-off-white: #F2F2F2;
}


@font-face {
    font-family: 'American Captain';
    src: url(../fonts/American\ Captain.otf);
    src: url(../fonts/American\ Captain.ttf);
}

@font-face {
    font-family: 'sf-pro-display';
    src: url(../fonts/SFPRODISPLAYBOLD.OTF);
    src: url(../fonts/SFPRODISPLAYMEDIUM.OTF);
    src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

.ff_sf_pro {
    font-family: 'sf-pro-display';
}

.ff_american {
    font-family: 'American Captain';
}

/* FONT SIZE CLASSES */

.fs_15 {
    font-size: var(--fs-15);
}

.fs_17 {
    font-size: var(--fs-17);
}

.fs_20 {
    font-size: var(--fs-20);
}

.fs_24 {
    font-size: var(--fs-24);
}

.fs_30 {
    font-size: var(--fs-30);
}

.fs_32 {
    font-size: var(--fs-32);
}

.fs_35 {
    font-size: var(--fs-35);
}

.fs_56 {
    font-size: var(--fs-56);
}

.fs_100 {
    font-size: var(--fs-100);
}

.fs_110 {
    font-size: var(--fs-110);
}

.fs_120 {
    font-size: var(--fs-120);
}

.fs_130 {
    font-size: var(--fs-130);
}

.fs_200 {
    font-size: var(--fs-200);
}

.fs_247 {
    font-size: var(--fs-247);
}

/* FONT WEIGHT */

.fw_400 {
    font-weight: 400;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}


/* COLORS CLASSES */

.bg_darkblack {
    background-color: var(--clr-darkblack) !important;
}

.bg_lightblack {
    background-color: var(--clr-lightblack) !important;
}

.clr_white {
    color: var(--clr-white) !important;
}

.us_button_border {
    border: 2px solid var(--clr-white);
}
.us_button_border:hover {
    border: 2px solid var(--clr-gray);
}
.hover_gray:hover{
    color: var(--clr-gray) !important;
}

.clr_darkgray {
    color: var(--clr-dark_gray);
}

.clr_gray {
    color: var(--clr-gray);
}

.bg_green {
    background-color: var(--clr-green);
}

.bg_brown_red {
    background-color: var(--clr-brown_red);
}

.bg_blue {
    background-color: #0A3F8F;
}

.clr_offwhite {
    color: var(--clr-off-white);
}

.outline_none {
    outline: none;
}

.btn_submit {
    padding: 5px 20px;
    border: 2px solid var(--clr-white);
    border-radius: 10px;
}

.btn_submit:hover {
    padding: 5px 20px;
    border: 2px solid var(--clr-white);
    border-radius: 10px;
    background-color: var(--clr-white) !important;
    color: var(--clr-darkblack) !important;
}

.contact_img {
    top: 45px;
    left: 0;
}

@media (max-width:1400px) {
    :root {
        /* Font size */
        --fs-15: 15px;
        --fs-17: 17px;
        --fs-20: 20px;
        --fs-24: 24px;
        --fs-30: 30px;
        --fs-32: 32px;
        --fs-35: 35px;
        --fs-56: 56px;
        --fs-100: 100px;
        --fs-110: 90px;
        --fs-120: 120px;
        --fs-130: 90px;
        --fs-200: 200px;
        --fs-247: 247px;
    }
}

@media (max-width:1200px) {
    :root {
        /* Font size */
        --fs-15: 15px;
        --fs-17: 17px;
        --fs-20: 20px;
        --fs-24: 24px;
        --fs-30: 30px;
        --fs-32: 25px;
        --fs-35: 35px;
        --fs-56: 56px;
        --fs-100: 100px;
        --fs-110: 70px;
        --fs-120: 120px;
        --fs-130: 90px;
        --fs-200: 200px;
        --fs-247: 247px;
    }
}

@media (max-width:992px) {
    :root {
        /* Font size */
        --fs-15: 15px;
        --fs-17: 17px;
        --fs-20: 20px;
        --fs-24: 24px;
        --fs-30: 30px;
        --fs-32: 25px;
        --fs-35: 35px;
        --fs-56: 56px;
        --fs-100: 100px;
        --fs-110: 60px;
        --fs-120: 120px;
        --fs-130: 90px;
        --fs-200: 200px;
        --fs-247: 247px;
    }
}

@media (max-width:768px) {
    :root {
        /* Font size */
        --fs-15: 15px;
        --fs-17: 17px;
        --fs-20: 20px;
        --fs-24: 24px;
        --fs-30: 30px;
        --fs-32: 20px;
        --fs-35: 35px;
        --fs-56: 56px;
        --fs-100: 100px;
        --fs-110: 40px;
        --fs-120: 120px;
        --fs-130: 70px;
        --fs-200: 158px;
        --fs-247: 247px;
    }
}

@media (max-width:576px) {
    :root {
        /* Font size */
        --fs-15: 12px;
        --fs-17: 15px;
        --fs-20: 18px;
        --fs-24: 20px;
        --fs-30: 25px;
        --fs-32: 20px;
        --fs-35: 28px;
        --fs-56: 56px;
        --fs-100: 80px;
        --fs-110: 40px;
        --fs-120: 85px;
        --fs-130: 60px;
        --fs-200: 158px;
        --fs-247: 247px;
    }
}

@media (max-width:400px) {
    :root {
        /* Font size */
        --fs-15: 12px;
        --fs-17: 15px;
        --fs-20: 18px;
        --fs-24: 20px;
        --fs-30: 25px;
        --fs-32: 20px;
        --fs-35: 28px;
        --fs-56: 56px;
        --fs-100: 80px;
        --fs-110: 40px;
        --fs-120: 85px;
        --fs-130: 50px;
        --fs-200: 158px;
        --fs-247: 247px;
    }
}