* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none !important;
}


.bg_section_1 {
    background-image: url(../img/Background_secton_1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* height: 649px; */
}

.us_button {
    padding: 5px 32px;
    border-radius: 8px;
}

.fw_700 {
    font-weight: 400;
}


@media (max-width:1200px) {
    nav ul {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #161616;
        width: 100%;
        height: 100vh !important;
        justify-content: center;
        transition: 0.9s;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        line-height: 4;
        z-index: 3 !important;
    }

    .left {
        left: 0;
    }

    .line {
        background-color: #ffffff;
        padding: 3px 18px;
        border-radius: 10px;
        margin-top: 3px;
        z-index: 3;
    }

    .nav_button_padding_xl {
        padding: 0px 25px;
    }

    .us_button {
        height: 69px;
        width: 202px;
    }
}

.overflowhiden {
    overflow: hidden !important;
}

.text_sec_1_shadow {
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
}

.more_width {
    width: 650px;
}


.most_width {
    max-width: 322px;
}

.button_up:hover img {
    transform: translateY(-10%);
}

@media (min-width:1200px) {
    .more_height {
        line-height: 130px;
    }

}

@media (max-width:1200px) {
    .more_width {
        max-width: 500px;
    }

    .more_height {
        line-height: 100px;
    }
}

@media (max-width:992px) {
    .more_height {
        line-height: 90px;
    }

    .bg_section_1 {
        background-size: cover;
        background-position: center;
    }

    .most_width {
        max-width: 260px;
    }
}

@media (max-width:768px) {
    .more_width {
        max-width: 400px;
    }

    .more_height {
        line-height: 60px;
    }
}

@media (max-width:576px) {
    .more_height {
        line-height: 60px;
    }


}
@media (max-width:500px) {
    .text_center_500{
        text-align: center;
    }
}
.d_grid {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* .d_grid_2{
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.slider_img_1{
    grid-row: 1/2;
    grid-column: 2/3;
}
.slider_img_2{
    grid-row: 1/2;
    grid-column: 3/4;
}
.slider_img_3{
    grid-row: 1/2;
    grid-column: 4/5;
}
.slider_img_4{
    grid-row: 1/2;
    grid-column: 5/6;
}

.slider_img_5{
    grid-row: 2/3;
    grid-column: 1/2;
}
.slider_img_6{
    grid-row: 2/3;
    grid-column: 3/4;
}
.slider_img_7{
    grid-row: 2/3;
    grid-column: 4/5;
}
.slider_img_8{
    grid-row: 2/3;
    grid-column: 5/6;
}
.slider_img_9{
    grid-row: 2/3;
    grid-column: 6/7;
} */
.h_200 {
    height: 200px;
}

.slick-dots {
    display: none !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}

.mx_160 {
    max-width: 160px;
}

.slick-prev:before {
    display: none;
}