* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lh_28 {
    line-height: 28px;
}

.opacity30 {
    opacity: 30%;
}

.position_about {
    bottom: -91px;
    right: 0;
}

.max_w_1284 {
    max-width: 1284px;
}

.max_w_193 {
    max-width: 193px;
}

.map_logo {
    top: -83px;
}

.br_16 {
    border-radius: 16px;
}

.mt_64 {
    margin-top: 114px;
}

.sec3_top_line {
    top: 0;
    left: 0;
}

.sec3_bottom_line {
    bottom: 0;
    right: 0;
}

.max_w_140 {
    max-width: 140px;
}

.h_377 {
    max-height: 377px;
}

.location_logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lh_130 {
    line-height: 55px;
}

.play_icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.green_star {
    left: 0;
    top: 57px;
}

.blue_star {
    right: 0;
    bottom: -10px;
}

.cursior_pointer {
    cursor: pointer;
}

.slider_gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.01), rgba(85, 74, 74, 0.2)), url(../img/slider_gradient_img.png);
    z-index: -1;
}

.contact_button {
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 20px;
}
/* 
.max_w_110 {
    max-width: 110px;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 4d26f7ad8ae45b012ed2508ff1fd0e11dd28ee93

.hover_gradient:hover .slider_gradient {
    z-index: 1;
}

.input_border {
    border: transparent;
    border-bottom: 2px solid white;
}

.prime_car::after {
    content: '';
    position: absolute;
    background: white;
    height: 5px;
    width: 0px;
    bottom: 10px;
    left: 0;
    transition: all 0.5s linear;
}

.prime_car:hover::after {
    width: 100%;
}

.h_24{
    max-height: 24px;
}
























@media (min-width:768px) {
    .lh_130 {
            line-height: 130px;
        }
}




@media (min-width:992px) {
    .ps-lg-65 {
        padding-left: 65px !important;
    }

    .index_2_992 {
        z-index: 2;
    }

    .prime_car:hover::after {
        width: 80%;
    }

    .ms-lg-65 {
        margin-left: 65px;
    }
}

@media (min-width:1400px) {
    .container_xxxl {
        max-width: 1720px;
    }
}

@media (min-width:1520px) {
    .align_center {
        align-items: center;
    }

    .pe_5 {
        padding-right: 48px;
    }

    .col_3_1520 {
        width: 25%;
    }

    .col_2_1520 {
        width: 16.66%;
    }
}

@media (min-width:1400px) {
    .col_3 {
        width: 25%;
    }

    .lh_110 {
        line-height: 110px;
    }
}

@media (max-width:1400px) {
    .pt_4 {
        padding-top: 24px;
    }
}

@media (max-width:768px) {
    .w_50{
        max-width: 50px !important;
    }
}