* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box !important;
}

.bg_section_1 {
    background-image: url(../img/Background_secton_1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 649px;
}

.us_button {
    padding: 8px 32px;
    border-radius: 8px;
}