@font-face {
    font-family: 'American Captain';
    src: url(../fonts/American\ Captain.otf);
    src: url(../fonts/American\ Captain.ttf);
}

.bg_section_1 {
    background-image: url(../img/Background_secton_1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 649px;
}

.us_button {
    padding: 8px 32px;
    border-radius: 8px;
}
.fw_700{
    font-weight: 400;
}
@font-face {
    font-family: 'sf-pro-display';
    src: url(../fonts/sf-pro-display-cufonfonts-1/SFPRODISPLAYBOLD.OTF);
    src: url(../fonts/sf-pro-display-cufonfonts-1/SFPRODISPLAYMEDIUM.OTF);
    src: url(../fonts/sf-pro-display-cufonfonts-1/SFPRODISPLAYREGULAR.OTF);
}
.ff_sf_pro{
    font-family: 'sf-pro-display';
}